<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">SuperDuperSite</span>
            </a>
            <div>
                <a href='register'
                    class="inline-flex items-center bg-gray-700 border-0 py-1 px-3 focus:outline-none hover:bg-gray-600 rounded text-base mt-4 md:mt-0">Register
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                        stroke="currentColor" class="w-5 h-5 ml-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                </a>
                <a href='login'
                    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-600 rounded text-base ml-4 mt-4 md:mt-0">Login
                    <svg class="w-4 h-4 ml-1" viewBox="0 0 20 20" stroke-width="1" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.76076555,0 C15.4157386,0 20,4.4771525 20,10 C20,15.5228475 15.4157386,20 9.76076555,20 C6.56885647,20 3.61836948,18.5634688 1.68988581,16.1544725 C1.46202241,15.8698333 1.51356853,15.4586837 1.80501731,15.2361442 C2.09646608,15.0136047 2.51745178,15.0639465 2.74531518,15.3485857 C4.4225344,17.443711 6.98554674,18.6915888 9.76076555,18.6915888 C14.6758356,18.6915888 18.6602871,14.8002319 18.6602871,10 C18.6602871,5.19976806 14.6758356,1.30841121 9.76076555,1.30841121 C7.02601512,1.30841121 4.49642844,2.51988396 2.81675903,4.5633425 C2.58516542,4.84509553 2.16355149,4.89014431 1.87505796,4.66396176 C1.58656443,4.43777922 1.54043793,4.02601608 1.77203154,3.74426305 C3.70333647,1.39466883 6.61544133,0 9.76076555,0 Z M10.3053281,6.86239745 L13.0119569,9.56902627 C13.2735521,9.83062149 13.2785069,10.2497964 13.0230237,10.5052795 L10.3796339,13.1486694 C10.1241507,13.4041526 9.70497582,13.3991978 9.4433806,13.1376026 C9.18178539,12.8760073 9.1768306,12.4568325 9.43231378,12.2013493 L10.98,10.6534046 L0.669856459,10.6542056 C0.299904952,10.6542056 7.72715225e-14,10.3613078 7.72715225e-14,10 C7.72715225e-14,9.63869222 0.299904952,9.34579439 0.669856459,9.34579439 L10.938,9.34540456 L9.38014161,7.78758389 C9.11854639,7.52598867 9.11359161,7.1068138 9.36907479,6.85133062 C9.62455797,6.59584744 10.0437328,6.60080223 10.3053281,6.86239745 Z" />
                    </svg>
                </a>
            </div>
        </div>
    </header>
    <main>{% if error: %}
        <div class="bg-red-300 text-red-900 h-8 p-4 w-full flex items-center">{{error}}</div>
        {% set error=None %}
        {% endif %}
        <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
                <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                    <h1 class="title-font font-medium text-3xl text-white">Slow-carb next level shoindxgoitch ethical
                        authentic,
                        poko
                        scenester</h1>
                    <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify
                        hammock
                        starladder roathse. Craies vegan tousled etsy austin.</p>
                </div>
                <div
                    class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                    <h2 class="text-white text-lg font-medium title-font mb-5">Sign Up</h2>
                    <form action='' method='post'>
                        <div class="relative mb-4">
                            <label for="username" class="leading-7 text-sm text-gray-400">Username</label>
                            <input type="text" id="username" name="username"
                                class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                        <div class="relative mb-4">
                            <label for="password" class="leading-7 text-sm text-gray-400">Password</label>
                            <input type="password" id="password" name="password"
                                class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                        <button type='submit'
                            class="w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</button>
                        <p class="text-xs mt-3">Literally you probably haven't heard of them jean shorts.</p>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">SuperDuperSite</span>
            </a>
            <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
                2022
                <a href="#" class="text-gray-500 ml-1" target="_blank"
                    rel="noopener noreferrer">@lashchinskiy_artyom</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-400">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-400">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-400">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M 12 2 C 6.4889941 2 2 6.4889982 2 12 C 2 17.511002 6.4889941 22 12 22 C 17.511006 22 22 17.511002 22 12 C 22 6.4889982 17.511006 2 12 2 z M 12 4 C 16.430126 4 20 7.5698765 20 12 C 20 16.430123 16.430126 20 12 20 C 7.5698737 20 4 16.430123 4 12 C 4 7.5698765 7.5698737 4 12 4 z M 6.4453125 8.5 C 6.0643125 8.5 6 8.6867187 6 8.8867188 C 6 9.2477188 6.2995 11.1965 7.9375 13.4375 C 9.1245 15.0635 10.689219 16 12.074219 16 C 12.913219 16 13 15.786125 13 15.453125 L 13 13.966797 C 13 13.565797 13.092375 13.5 13.359375 13.5 C 13.550375 13.5 13.9375 13.625 14.6875 14.5 C 15.5525 15.509 15.709078 16 16.205078 16 L 17.515625 16 C 17.819625 16 17.994953 15.873 18.001953 15.625 C 18.002953 15.562 17.993656 15.490109 17.972656 15.412109 C 17.875656 15.124109 17.431953 14.421 16.876953 13.75 C 16.568953 13.378 16.265953 13.009547 16.126953 12.810547 C 16.031953 12.679547 15.996 12.588 16 12.5 C 16.004 12.408 16.052 12.318312 16.125 12.195312 C 16.112 12.195312 17.80375 9.8214844 17.96875 9.0214844 C 17.99175 8.9454844 18.003 8.8745 18 8.8125 C 17.992 8.6315 17.867219 8.5 17.574219 8.5 L 16.265625 8.5 C 15.935625 8.5 15.782359 8.6993906 15.693359 8.9003906 C 15.693359 8.9003906 14.8785 10.5795 13.9375 11.6875 C 13.6325 12.0075 13.4775 12 13.3125 12 C 13.2245 12 13 11.893609 13 11.599609 L 13 9.0078125 C 13 8.6608125 12.914766 8.5 12.634766 8.5 L 10.310547 8.5 C 10.106547 8.5 10 8.6593125 10 8.8203125 C 10 9.1533125 10.449 9.2349219 10.5 10.169922 L 10.5 11.980469 C 10.5 12.420469 10.424766 12.5 10.259766 12.5 C 9.8147656 12.5 8.9385625 10.999203 8.3515625 9.0332031 C 8.2245625 8.6462031 8.0975781 8.5 7.7675781 8.5 L 6.4453125 8.5 z" />
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>